<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!--  <img class="navbar-brand"   width="30" height="30"  src="images/ruby.png">-->
  <%= image_tag("ruby.png", width: 30, height: 30,)%>
  <%= link_to 'Ruby Roo', root_path, class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Sign Up', home_sign_up_path, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>